
<div class="main-container flex">
  <div class="container-card">
    <a href="#">
      <figure>
        <img src="assets/img/wporsche.jpg" class="front" alt="">
        <figcaption class="back">
          <h2>Volksbruders</h2>
          <hr>
          <p>
            Asiste a nuestro track day en la marquesa el 12 de Agosto.
          </p>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="container-card">
    <a href="#">
      <figure>
        <img src="assets/img/parkin.jpeg" class="front" alt="">
        <figcaption class="back">
          <h2>Stance Dreams</h2>
          <hr>
          <p>
            Asiste a nuestro track day en la marquesa el 12 de Agosto.
          </p>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="container-card">
    <a href="#">
      <figure>
        <img src="assets/img/imacar.jpeg" class="front" alt="">
        <figcaption class="back">
          <h2>Low Rolling Steels</h2>
          <hr>
          <p>
            Asiste a nuestro track day en la marquesa el 12 de Agosto.
          </p>
        </figcaption>
      </figure>
    </a>
  </div>
</div>